DATABASE_URL=postgresql://user:password@localhost:5432/todos
ADMIN_DB_URL=postgresql://user:password@localhost:5432/postgres
# To generate a new secret
# `bunx @better-auth/cli@latest secret`
BETTER_AUTH_SECRET=AAnOq39uUiXJjvITdf3xgDXk88WTVGTD
BETTER_AUTH_URL=http://localhost:3000
MAILGUN_DOMAIN=your-mailgun-domain.com
MAILGUN_API_KEY=your-mailgun-api-key